* {
  box-sizing: border-box;
}

html {
  font-family: monospace, sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e6e9ec;
  color: #1e293b;
}

input {
  font-family: monospace, sans-serif;
  background-color: white;
}

:root {
  --completed-color: #18b800;
  --todo-color: #f0ad4e;
  --pending-color: #388cfa;
  --newTodo-color: #9e17b3;
  --btn-shadow: 3px 3px 0px 0px rgb(79, 75, 75);
}

/* Prevent scrolling on very small screens */
@media (max-width: 300px) {
  body {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
  }

  html {
    overflow: hidden;
  }
}

/* Utility classes */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
